body,
html {
  padding: 0;
  margin: 0;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body a {
  text-decoration: none;
}

.fc .fc-col-header-cell-cushion {
  text-decoration: none;
}

code {
  text-decoration: none;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
